@import url(https://fonts.googleapis.com/css?family=Lato);


*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  
}

/*Navigation Bar*/
width{
  width:100%;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color:white;
  box-shadow: 0 5px 10px 0px rgb(0, 0, 0);
  font-size:17px;
  z-index:1000;
}
  nav ul{
    list-style: none;
    position: relative;
    float: left;
    margin-right: 100px;
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{background: rgba(133, 133, 255, 0.5);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block; 
        padding: 30px 20px;
        color: rgb(0, 0, 0); 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul ul{
        display: none;
        background: rgb(255, 255, 255);
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
        color:rgb(0, 0, 0);
      }
        nav ul ul li{float: none; position:static;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
            color:rgb(0, 0, 0);
            min-width:100px;
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
            color:rgb(0, 0, 0);
          }	



div.body{
  color:rgb(0, 0, 0);
  text-align:center;
  margin-left:15%;
  margin-right:15%;
  background-color:rgb(255, 255, 255);
  font-size:20px;
}

h1{
  font-size:60px;
  font-weight:bold;
}

.parallax{
  background-image: url("./media/adobe.png");

  min-height: 500px; 
  margin-left:0%;
  margin-right:0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

body{
background-color:rgb(255, 255, 255);
  box-shadow: 0 3px 10px -2px rgb(0, 0, 0);
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
.title{
  background-color:rgba(0, 0, 0, 0);
}


.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.caption span.border {
  background: rgb(76,117,255);
  background: linear-gradient(90deg, rgba(76,117,255,1) 0%, rgba(112,168,255,1) 100%);
  padding: 18px;
  font-size: 72px;
  letter-spacing: 10px;
  font-family: "Lato";
  box-shadow: 0 3px 10px -2px rgb(0, 0, 0);
  border-radius:20px;
}

a:link.button, a:visited.button{
  background: rgb(76,117,255);
  background: linear-gradient(90deg, rgba(76,117,255,1) 0%, rgba(112,168,255,1) 100%);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  box-shadow: 0 3px 10px -2px rgb(0, 0, 0);
}
a:hover.button, a:active.button {
  background: rgb(0, 0, 0);
}